In [1]:
import pandas as pd 
import numpy as np

In [2]:
# reviews1 = pd.read_csv('C:/Users/TeYan/Downloads/reviews1.csv')
# reviews2 = pd.read_csv('C:/Users/TeYan/Downloads/reviews2.csv')
# reviews = pd.concat([reviews1, reviews2])
reviews = pd.read_csv('reviews.csv')

In [99]:
reviews.head()

,content,score,at,appId,userID
0,You can't start a new game asking for a fee. Y...,1,2020-12-24,com.happeningnow.yatusabes,11378168
1,Very very worst game. Fake ads in YouTube I do...,1,2021-02-06,com.perfect.soccer.kick.far.strike,10520813
2,One of the worse game i have ever played. Lots...,1,2021-01-23,com.perfect.soccer.kick.far.strike,17879553
3,Fake ads on youtube never install this fake ga...,1,2021-01-30,com.perfect.soccer.kick.far.strike,13216009
4,This game creators put fake ad and in you tube...,1,2021-02-11,com.perfect.soccer.kick.far.strike,2927923

In [4]:
len(reviews)

26011823

In [100]:
counts = reviews.value_counts('userID')
counts = counts[counts >= 5]
counts.index

Int64Index([14539619, 11174495, 14236799,  7951560,  9654871,   940276,
             7830221,  2011247, 15530304, 10035294,
            ...
             7257451, 15461876,  4741562, 13272015, 17954559,  5846215,
            15471189, 17197173,  8359534, 10421709],
           dtype='int64', name='userID', length=451361)

In [101]:
reviews_clean = reviews[reviews['userID'].isin(counts.index)]
reviews_clean.head()

,content,score,at,appId,userID
25,I love this game,5,2021-02-09,com.perfect.soccer.kick.far.strike,2427064
39,This is scam,1,2021-01-12,com.wobbly.funnygame.ragdolls.life.adventure,17006312
42,I really enjoy scrabble. I started playing thi...,2,2021-02-06,com.littleengine.wordpal,7472899
47,Word Wars is a decent game as far as the game ...,1,2021-02-08,com.littleengine.wordpal,10685032
51,"Like the game, much prefer it to Scrabble Go, ...",4,2021-02-01,com.littleengine.wordpal,15506477

In [102]:
reviews_clean.userID = reviews_clean.userID.astype('category').cat.codes

In [104]:
reviews_clean

,content,score,at,appId,userID
25,I love this game,5,2021-02-09,com.perfect.soccer.kick.far.strike,54085
39,This is scam,1,2021-01-12,com.wobbly.funnygame.ragdolls.life.adventure,418782
42,I really enjoy scrabble. I started playing thi...,2,2021-02-06,com.littleengine.wordpal,165935
47,Word Wars is a decent game as far as the game ...,1,2021-02-08,com.littleengine.wordpal,244295
51,"Like the game, much prefer it to Scrabble Go, ...",4,2021-02-01,com.littleengine.wordpal,377331
...,...,...,...,...,...
26011817,Very boring,2,2021-01-17,com.zjoy.fairy,327556
26011818,It's fun,5,2021-01-29,com.zjoy.fairy,388404
26011819,It's fun,5,2021-01-14,com.zjoy.fairy,189571
26011821,üôÇüôÉüòâüòäüòèü§†üòΩÿ®ÿØŸÜÿ®ŸàŸà,4,2021-02-12,com.zjoy.fairy,179394
26011822,Great,5,2021-01-12,com.zjoy.fairy,103208

In [114]:
reviews_clean.value_counts('appId')

appId
com.mustardgames.muscle.car.stunts.mega.ramp.stunt.car.impossibletracks    5716
com.mustardgames.topspeed.formulacar.racinggames                           5479
com.jima.modern.tuktuk.auto.rickshaw.driving.game.simulator                5459
com.mizo.robot.fps.shooting.game                                           5190
com.jimaapps.city.coach.bus.simulator.driving                              5111
                                                                           ...
cygnus.blockwarimpostor.funnythingkingwar                                     1
com.HappyTreeFriends.coloringbook                                             1
com.ncm.noovietrivia                                                          1
com.shareitxsenderfiletransfer02_cmfileshareit.tips02_app                     1
com.XGenStudios.Fishy                                                         1
Length: 6972, dtype: int64

In [105]:
reviews_clean.sort_values(['userID'], inplace=True)
reviews_clean.reset_index(drop=True, inplace=True)
reviews_clean =reviews_clean[['userID', 'appId', 'at', 'score', 'content']]
reviews_clean

,userID,appId,at,score,content
0,0,com.volcano.city.airplane.pilotflight,2020-06-20,5,New airplane game is an absolutely amazing and...
1,0,com.flying.car.robot.transformation.extreme.ca...,2021-01-06,5,Flying car shooting game is an absolutely fant...
2,0,com.gs.lightspeed.superhero.rescue.mission.doc...,2020-10-08,5,Dr robot game is an absolutely fantastic and w...
3,0,com.mustardgames.topspeed.formulacar.racinggames,2021-01-15,5,Formula car racing game is very well game I ha...
4,0,com.gf.extreme.gtracing.car.stunts.impossiblec...,2020-11-16,5,Superhero gt racing car stunt game will be a g...
...,...,...,...,...,...
3451270,451360,com.timeplusq.drawnguess,2019-06-30,4,my only problem is that there is TO MANY ADDS....
3451271,451360,com.bigfishgames.gummydropgoogle,2019-06-30,1,ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨ü§¨Thank you.i am angry (and a lil ...
3451272,451360,com.alegrium.cong2,2019-05-04,5,good for kids and parents to enjoy when want b...
3451273,451360,com.crazylabs.lady.bug,2019-05-04,5,one protest:I wish when u get caught by stormy...
3451274,451360,com.word.game.fun.puzzle.prison.escape.captain,2019-04-19,1,THIS GAME IS A SCAM!!!!!!!!üíîüò™for all those who...

In [107]:
reviews_clean.to_parquet('reviews.parquet.gzip', compression='gzip')

In [108]:
reviews_min = reviews_clean.drop(['content'], axis=1)
reviews_min

,userID,appId,at,score
0,0,com.volcano.city.airplane.pilotflight,2020-06-20,5
1,0,com.flying.car.robot.transformation.extreme.ca...,2021-01-06,5
2,0,com.gs.lightspeed.superhero.rescue.mission.doc...,2020-10-08,5
3,0,com.mustardgames.topspeed.formulacar.racinggames,2021-01-15,5
4,0,com.gf.extreme.gtracing.car.stunts.impossiblec...,2020-11-16,5
...,...,...,...,...
3451270,451360,com.timeplusq.drawnguess,2019-06-30,4
3451271,451360,com.bigfishgames.gummydropgoogle,2019-06-30,1
3451272,451360,com.alegrium.cong2,2019-05-04,5
3451273,451360,com.crazylabs.lady.bug,2019-05-04,5
3451274,451360,com.word.game.fun.puzzle.prison.escape.captain,2019-04-19,1

In [117]:
reviews_min.to_csv('reviews_minimum.csv', index=False)

In [109]:
reviews_min.to_parquet('reviews_minimum.parquet.gzip', compression='gzip')

In [112]:
df = pd.read_parquet('reviews_minimum.parquet.gzip')
df

,userID,appId,at,score
0,0,com.volcano.city.airplane.pilotflight,2020-06-20,5
1,0,com.flying.car.robot.transformation.extreme.ca...,2021-01-06,5
2,0,com.gs.lightspeed.superhero.rescue.mission.doc...,2020-10-08,5
3,0,com.mustardgames.topspeed.formulacar.racinggames,2021-01-15,5
4,0,com.gf.extreme.gtracing.car.stunts.impossiblec...,2020-11-16,5
...,...,...,...,...
3451270,451360,com.timeplusq.drawnguess,2019-06-30,4
3451271,451360,com.bigfishgames.gummydropgoogle,2019-06-30,1
3451272,451360,com.alegrium.cong2,2019-05-04,5
3451273,451360,com.crazylabs.lady.bug,2019-05-04,5
3451274,451360,com.word.game.fun.puzzle.prison.escape.captain,2019-04-19,1

In [14]:
# reviews['userImage'] = reviews["userImage"].astype('category')
# reviews["userID"] = reviews["userImage"].cat.codes
# reviews = reviews.drop(['userImage', 'thumbsUpCount'], axis=1)
reviews = reviews.astype({'score': 'int8'})
reviews.dtypes

In [7]:
reviews_min.to_csv('reviews_minimum.csv', index=False)

In [8]:
reviews_min.to_parquet('reviews_min.parquet.gzip', compression='gzip')

In [41]:
%%time
reviews_min = pd.read_parquet('reviews_min.parquet.gzip')

Wall time: 4.06 s

In [46]:
counts = reviews_min.value_counts('userID')
counts = counts[counts >= 5]
#reviews_min = reviews_min[~reviews_min['userID'].isin(counts.index]

In [48]:
counts.index

Int64Index([14539619, 11174495, 14236799,  7951560,  9654871,   940276,
             7830221,  2011247, 15530304, 10035294,
            ...
             7257451, 15461876,  4741562, 13272015, 17954559,  5846215,
            15471189, 17197173,  8359534, 10421709],
           dtype='int64', name='userID', length=451361)

In [63]:
counts = reviews_min.value_counts('userID')
counts = counts[counts >= 5]
counts.index

Int64Index([14539619, 11174495, 14236799,  7951560,  9654871,   940276,
             7830221,  2011247, 15530304, 10035294,
            ...
             7257451, 15461876,  4741562, 13272015, 17954559,  5846215,
            15471189, 17197173,  8359534, 10421709],
           dtype='int64', name='userID', length=451361)

In [64]:
reviews_clean = reviews_min[reviews_min['userID'].isin(counts.index)]
reviews_clean.head()

    score          at                                         appId    userID
25      5  2021-02-09            com.perfect.soccer.kick.far.strike   2427064
39      1  2021-01-12  com.wobbly.funnygame.ragdolls.life.adventure  17006312
42      2  2021-02-06                      com.littleengine.wordpal   7472899
47      1  2021-02-08                      com.littleengine.wordpal  10685032
51      4  2021-02-01                      com.littleengine.wordpal  15506477

In [68]:
reviews_clean

,score,at,appId,userID
25,5,2021-02-09,com.perfect.soccer.kick.far.strike,2427064
39,1,2021-01-12,com.wobbly.funnygame.ragdolls.life.adventure,17006312
42,2,2021-02-06,com.littleengine.wordpal,7472899
47,1,2021-02-08,com.littleengine.wordpal,10685032
51,4,2021-02-01,com.littleengine.wordpal,15506477
...,...,...,...,...
26011817,2,2021-01-17,com.zjoy.fairy,13709630
26011818,5,2021-01-29,com.zjoy.fairy,15909611
26011819,5,2021-01-14,com.zjoy.fairy,8542261
26011821,4,2021-02-12,com.zjoy.fairy,8079168
26011822,5,2021-01-12,com.zjoy.fairy,4641881

In [77]:
reviews_clean[reviews_clean.userID == 9939819]

          score          at                          appId   userID
184           1  2021-02-04       com.littleengine.wordpal  9939819
760804        2  2017-02-28  rs.aparteko.brainster.android  9939819
6201861       3  2019-12-12        com.fotoable.WordVillas  9939819
10079525      1  2018-03-06        com.gamepoint.cardparty  9939819
25414957      3  2020-12-15       com.playrix.gardenscapes  9939819

In [79]:
reviews_clean.value_counts('userID')

userID
14539619    286
11174495    244
14236799    212
7951560     197
9654871     168
           ...
9939695       5
9939819       5
9940061       5
9940083       5
10001285      5
Length: 451361, dtype: int64

In [87]:
reviews_clean.value_counts('userID')

userID
350585    286
257800    244
342218    212
176486    197
216068    168
         ...
224064      5
224068      5
224072      5
224073      5
225680      5
Length: 451361, dtype: int64

In [84]:
reviews_clean.head()

    score          at                                         appId    userID
25      5  2021-02-09            com.perfect.soccer.kick.far.strike   2427064
39      1  2021-01-12  com.wobbly.funnygame.ragdolls.life.adventure  17006312
42      2  2021-02-06                      com.littleengine.wordpal   7472899
47      1  2021-02-08                      com.littleengine.wordpal  10685032
51      4  2021-02-01                      com.littleengine.wordpal  15506477

In [85]:
reviews_clean.userID = reviews_clean.userID.astype('category').cat.codes

In [94]:
reviews_clean.sort_values(['userID'], inplace=True)
reviews_clean.reset_index(drop=True, inplace=True)
reviews_clean

,score,at,appId,userID
0,5,2020-06-20,com.volcano.city.airplane.pilotflight,0
1,5,2021-01-06,com.flying.car.robot.transformation.extreme.ca...,0
2,5,2020-10-08,com.gs.lightspeed.superhero.rescue.mission.doc...,0
3,5,2021-01-15,com.mustardgames.topspeed.formulacar.racinggames,0
4,5,2020-11-16,com.gf.extreme.gtracing.car.stunts.impossiblec...,0
...,...,...,...,...
3451270,5,2019-08-16,mytown.home,451360
3451271,4,2019-04-19,com.h8games.helixjump,451360
3451272,1,2019-07-28,com.vnlentertainment.mmoproject,451360
3451273,4,2019-06-30,com.timeplusq.drawnguess,451360
3451274,1,2019-04-19,com.word.game.fun.puzzle.prison.escape.captain,451360

In [95]:
reviews_clean =reviews_clean[['userID', 'appId', 'at', 'score']]
reviews_clean

,userID,appId,at,score
0,0,com.volcano.city.airplane.pilotflight,2020-06-20,5
1,0,com.flying.car.robot.transformation.extreme.ca...,2021-01-06,5
2,0,com.gs.lightspeed.superhero.rescue.mission.doc...,2020-10-08,5
3,0,com.mustardgames.topspeed.formulacar.racinggames,2021-01-15,5
4,0,com.gf.extreme.gtracing.car.stunts.impossiblec...,2020-11-16,5
...,...,...,...,...
3451270,451360,mytown.home,2019-08-16,5
3451271,451360,com.h8games.helixjump,2019-04-19,4
3451272,451360,com.vnlentertainment.mmoproject,2019-07-28,1
3451273,451360,com.timeplusq.drawnguess,2019-06-30,4
3451274,451360,com.word.game.fun.puzzle.prison.escape.captain,2019-04-19,1

In [96]:
reviews_clean.to_parquet('reviews_minimum.parquet.gzip', compression='gzip')

In [97]:
reviews_clean = pd.read_parquet('reviews_minimum.parquet.gzip')

In [98]:
reviews_clean

,userID,appId,at,score
0,0,com.volcano.city.airplane.pilotflight,2020-06-20,5
1,0,com.flying.car.robot.transformation.extreme.ca...,2021-01-06,5
2,0,com.gs.lightspeed.superhero.rescue.mission.doc...,2020-10-08,5
3,0,com.mustardgames.topspeed.formulacar.racinggames,2021-01-15,5
4,0,com.gf.extreme.gtracing.car.stunts.impossiblec...,2020-11-16,5
...,...,...,...,...
3451270,451360,mytown.home,2019-08-16,5
3451271,451360,com.h8games.helixjump,2019-04-19,4
3451272,451360,com.vnlentertainment.mmoproject,2019-07-28,1
3451273,451360,com.timeplusq.drawnguess,2019-06-30,4
3451274,451360,com.word.game.fun.puzzle.prison.escape.captain,2019-04-19,1

In [ ]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df['letter'])

In [9]:
from dask import dataframe as dd 

dreviews = dd.from_pandas(reviews)

In [ ]:
reviews["userImage"] = reviews["userImage"].astype('category')
reviews["userID"] = reviews["userImage"].cat.codes
reviews = reviews.drop(['userImage'], axis=1)

In [19]:
df = pd.DataFrame([['a', 1], ['b', 2], ['haha', 10]], columns=['letter', 'number'])
df

  letter  number
0      a       1
1      b       2
2   haha      10

In [20]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df['letter'])
df['letter'] = le.transform(df['letter'])

LabelEncoder()

In [26]:
le.__hash__

In [27]:
dict(zip(le.classes_, range(len(le.classes_))))

{'a': 0, 'b': 1, 'haha': 2}